{
	"BaseDir" : "__PREFIX__",
	"MessageDir" : "var/spool",
	"SendInterval": 3,
	"PidFile" : "var/delayed_pushd.pid",
	"LogFile" : "var/delayed_pushd.log",
	"LogLevel" : 6,
	"Daemon" : true,
	"OfflinePushdAddr": "172.30.23.39:12345"
}
